name: Test Coverage Report

on:
  pull_request:

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - shard: '1'
            total: '3'
          - shard: '2'
            total: '3'
          - shard: '3'
            total: '3'
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests with coverage
        env:
          CI_SHARD: ${{ matrix.shard }}
          CI_SHARD_TOTAL: ${{ matrix.total }}
        run: yarn test --coverage --testSequencer ./src/test/shardTestSequencer.cjs

      - name: Copy coverage
        run: |
          mv coverage/coverage-final.json coverage/coverage-${{ matrix.shard }}.json

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.shard }}
          path: coverage/coverage-${{ matrix.shard }}.json
          retention-days: 1

  merge-and-upload-coverages:
    runs-on: ubuntu-latest
    needs: test-coverage
    steps:
      - name: Download coverage
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: coverage
          pattern: coverage-*

      - name: Merge coverage
        run: |
          mkdir .nyc_output
          npx nyc merge coverage
          mv coverage.json .nyc_output/out.json
          npx nyc report --reporter json --report-dir coverage --exclude-after-remap false

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/coverage-final.json
          retention-days: 1
  
  coverage-comment:
    needs: [merge-and-upload-coverages]
    runs-on: ubuntu-latest
    steps:
      - name: Download coverage
        uses: actions/download-artifact@v4
        with:
          name: coverage
      
      - name: Generate coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          coverage-file: coverage/coverage-final.json
          automations: coverage
          