name: Test Coverage Report

on:
  pull_request:
    branches:
      - '**'

jobs:
  test-coverage-head:
    uses: ./.github/workflows/test-coverage.yaml
    with:
      branch: ${{ github.event.pull_request.head.ref }}
      output-name: test-coverage-head

  test-coverage-base:
    uses: ./.github/workflows/test-coverage.yaml
    with:
      branch: ${{ github.event.pull_request.base.ref }}
      output-name: test-coverage-base

  coverage-comment:
    needs: [test-coverage-head, test-coverage-base]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Download head coverage
        uses: actions/download-artifact@v4
        with:
          name: test-coverage-head

      - name: Download base coverage
        uses: actions/download-artifact@v4
        with:
          name: test-coverage-base
      
      - name: Generate coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          coverage-file: test-coverage-head.json
          base-coverage-file: test-coverage-base.json
          annotations: coverage
          